.example-icon {
    padding: 0 14px;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .contenido{
    width: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .toolbar{
    height: 10%;
    background: white;
  }