.example-icon {
    padding: 0 14px;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .contenido{
    width: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .toolbar{
    height: 10%;
    background: white;
  }

  a{
    text-decoration: none;
    color: #5b0099;
    font-size:medium;
  }

  .mouseHover:hover{
    /*background-color: #5b0099;
    color: #fff;
    border-radius: 0.25rem;*/
    cursor: pointer;
    padding: 0.10rem;
    font-size:medium;
  }

  .soloHover:hover{
    cursor: pointer;
  }