.example-icon {
    padding: 0 14px;
  }
  .spacer {
    flex: 1 1 auto;
  }

  .contenido{
    width: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .toolbar{
    height: 10%;
    background: white;
  }

  a{
    text-decoration: none;
    color: #5b0099;
    font-size:medium;
  }

  .mouseHover:hover{
    /*background-color: #5b0099;
    color: #fff;
    border-radius: 0.25rem;*/
    cursor: pointer;
    padding: 0.10rem;
    font-size:medium;
  }

  .soloHover:hover{
    cursor: pointer;
  }

  .menu .cdk-overlay-pane{
    background-color: white;
  }

  .shopCart {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 250px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
  }

  .spacer{
    flex: 1 1 auto;
  }
  
  ::ng-deep.mat-mdc-menu-content{
    padding: 0 !important;
  }