<mat-toolbar class="toolbar d-flex">
    <div>
      <img src="../../../../assets/img/DS_Travel.svg" alt="" routerLink="/" class="soloHover">
    </div>
    <div class="row mx-5 contenido d-flex justify-content-end">
      <!-- <div class="col-6">
        <div *ngIf="isLogged" class="d-flex justify-content-around">
          <a class nav-link href="#" class="mouseHover">PAQUETES</a>
          <a class nav-link class="mouseHover" routerLink="/vuelos">VUELOS</a>
          <a class nav-link href="#" class="mouseHover">VEHÍCULOS</a>
          <a class nav-link href="#" class="mouseHover">ALOJAMIENTO</a>
        </div>
      </div> -->
      <div class="col-6 d-flex justify-content-end" *ngIf="!isLogged">
          <button mat-stroked-button color="primary" class="mx-3 button" routerLink="/auth/login">INICAR SESIÓN</button>
          <button mat-raised-button color="primary" class="mx-3 button" routerLink="/auth/registro">CREA TU CUENTA</button>
      </div>
      <div class="d-flex justify-content-end" *ngIf="isLogged">
        <p class="me-3">{{userRol}}</p>
        <button mat-icon-button [matMenuTriggerFor]="shopCart" *ngIf="userRol === 'FRONTOFFICE'">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <mat-menu #shopCart="matMenu" class="menu">
          <ng-container>
            <div class="shopCart">
              <p class="title" >Vuelos agregados</p>
              <div class="d-flex my-3 justify-content-between align-items-baseline" 
              *ngIf="shoppingCart.vuelo_ida" 
              style="border-bottom: 1px dashed black;">

                <div>{{shoppingCart.vuelo_ida.aeropuerto_origen.codigoIata}}->{{shoppingCart.vuelo_ida.aeropuerto_destino.codigoIata}}</div>
                <div >${{shoppingCart.vuelo_ida.precio}} 
                  <button mat-icon-button (click)="deleteItem(shoppingCart.vuelo_ida.id_vuelo, 'ida')">
                    <mat-icon>close</mat-icon>
                  </button>
              </div>
              </div>
              <div class="d-flex my-3 justify-content-between align-items-baseline" 
              *ngIf="shoppingCart.vuelo_vuelta" 
              style="border-bottom: 1px dashed black;">
              
                <div>{{shoppingCart.vuelo_vuelta.aeropuerto_origen.codigoIata}}->{{shoppingCart.vuelo_vuelta.aeropuerto_destino.codigoIata}}</div>
                <div >${{shoppingCart.vuelo_vuelta.precio}} 
                  <button mat-icon-button (click)="deleteItem(shoppingCart.vuelo_vuelta.id_vuelo, 'vuelta')">
                    <mat-icon>close</mat-icon>
                  </button>
              </div>
              </div>
              <div class="d-flex mb-3 justify-content-between">
                <div>Total</div>
                <div>${{shoppingCart.precioTotal}}</div>
              </div>
              <div class="d-flex justify-content-end pe-2">
                <button 
                mat-raised-button 
                color="accent"
                (click)="openPagoModal()"
                [disabled]="shoppingCart.precioTotal<= 0"
                >Reservar</button>
              </div>
            </div>
          </ng-container>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/vuelos">
            <mat-icon>flight</mat-icon>
            <span>Vuelos</span>
          </button>
          <button mat-menu-item>
            <mat-icon>directions_car</mat-icon>
            <span>Vehículos</span>
          </button>
          <button mat-menu-item>
            <mat-icon>hotel</mat-icon>
            <span>Alojamiento</span>
          </button>
          <button mat-menu-item>
            <mat-icon>backpack</mat-icon>
            <span>Paquetes</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesíon</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>