<div class="container d-flex justify-content-center">
    <form [formGroup]="formVuelos">
    <div class="row d-flex justify-content-center p-5">
        <div class="d-flex justify-content-center">
            <h1>Nuevo vuelo</h1>
        </div>
            <div class="col-6  mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Aeropuerto origen</mat-label>
                    <mat-select formControlName="aeropuertoOrigen">
                        <mat-option *ngFor="let aeropuerto of aeropuertos" [value]="aeropuerto.id_aeropuerto">
                            {{aeropuerto.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Aeropuerto origen</mat-label>
                    <mat-select formControlName="aeropuertoDestino">
                        <mat-option *ngFor="let aeropuerto of aeropuertos" [value]="aeropuerto.id_aeropuerto">
                            {{aeropuerto.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3 mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Fecha de partida</mat-label>
                    <input matInput [matDatepicker]="salida" formControlName="fechaPartida">
                    <mat-datepicker-toggle matIconSuffix [for]="salida"></mat-datepicker-toggle>
                    <mat-datepicker #salida></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Hora de partida</mat-label>
                    <input type="text" matInput formControlName="horaPartida" placeholder="Ej: 14:00">
                </mat-form-field>
            </div>
            <div class="col-3 mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Fecha de arribo</mat-label>
                    <input matInput [matDatepicker]="arribo" formControlName="fechaArribo">
                    <mat-datepicker-toggle matIconSuffix [for]="arribo"></mat-datepicker-toggle>
                    <mat-datepicker #arribo></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Hora de arribo</mat-label>
                    <input type="text" matInput formControlName="horaArribo" placeholder="Ej: 14:00">
                </mat-form-field>
            </div>
            <div class="col-6 mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Avion</mat-label>
                    <mat-select formControlName="avion">
                        <mat-option *ngFor="let avion of aviones" [value]="avion">
                            {{avion.aerolinea}} - {{avion.matricula}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 mt-3">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Precio</mat-label>
                    <input type="number" matInput formControlName="precioAsiento">
                </mat-form-field>
            </div>
            <div class="col-6 mt-3 d-flex justify-content-center">
                <button 
                mat-stroked-button 
                color="primary" 
                class="button" 
                [mat-dialog-close]="false"
                >Cancelar</button>
            </div>
            <div class="col-6 mt-3 d-flex justify-content-center align-items-baseline">
                <button 
                mat-raised-button 
                color="primary" 
                class="button" 
                (click)="crearVuelo()"
                [mat-dialog-close]="true"
                >Crear</button>
            </div>
            
    </div>
</form>
</div>
