

.listado {
    min-width: 100%;
    min-height: 150px;
}

.aeros {
    width: 100%;
}


.rojo {
    border: 1px solid red;
}

.aeropuerto {
    font-size: 36px;
}

.ciudad {
    font-size: 1rem;
}

.flight-icon {
    font-size: 36px;
    width: 3rem;
    height: 3rem;
    color: #2f0064;
}

.compraButton {
    width: 60%;
    height: 40%;
    font-size: 1.2rem;
    border-radius: 15px;
}

.vuelo {
    width: 30%;
}

.fecha{
    font-size: 1.3rem;
}

.precio {
    font-size: 1.5rem;
}

span{
    color: #2f0064;
}