
<mat-card>
    <div class="row listado">
        <div class="col-5 d-flex justify-content-center align-items-center">
            <div class="d-flex aeros justify-content-around align-items-center">
                <div class="d-flex flex-column vuelo">
                    <span class="aeropuerto">{{vuelo.aeropuerto_origen.codigoIata}}</span>
                    <span class="ciudad mt-2">{{vuelo.aeropuerto_origen.nombre}}</span>
                </div>
                <div>
                    <mat-icon class="flight-icon">{{flightType === 'ida' ? 'flight_takeoff' : 'flight_land'}}</mat-icon>
                </div>
                <div class="d-flex flex-column vuelo">
                    <span class="aeropuerto">{{vuelo.aeropuerto_destino.codigoIata}}</span>
                    <span class="ciudad mt-2">{{vuelo.aeropuerto_destino.nombre}}</span>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column">
                <span class="fecha">Salida: {{vuelo.fechaYHoraPartida | date: 'EEE, MMM d, h:mm'}}</span>
                <span class="fecha mt-2">Llegada: {{vuelo.fechaYHoraArribo | date: 'EEE, MMM d, h:mm'}}</span>
            </div>
        </div>
        <div class="col-2  d-flex justify-content-center align-items-center ">
            <div class="d-flex flex-column">
                <span class="precio">Precio Total</span>
                <span class="precio mt-4">${{vuelo.precio}}</span>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center" >
            <button 
            mat-raised-button 
            color="accent" 
            class="compraButton" 
            *ngIf="type === 'FRONTOFFICE'"
            (click)="addShopCart()"
            [disabled]="disabled"
            >{{momento == 'busqueda' ? 'Agregar' : 'Comprar'}}</button>
            <div class="d-flex flex-column justify-content-between align-items-center" *ngIf="type === 'BACKOFFICE'">
                <button mat-fab color="accent" class="mb-3">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        
    </div>
</mat-card>


